<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Online Meeting</title>
    <link rel="stylesheet" href="../static/stylesheets/navstyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <section class="top-nav">
      <a href="" style="text-decoration: none;color:white"
        ><div class="logo">
          Online Meeting
        </div></a
      >
      <input id="menu-toggle" type="checkbox" />
      <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
      </label>
      <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li class="active"><a href="/summarized">Summarized Data</a></li>
        <li><a href="/index">Logout</a></li>
      </ul>
    </section>
    <div class="text-center mt-4">
      <form action="/getsummarizeddata" method="POST">
        <select name="meeting" class="custom-select" style="width:30%">
          <option selected value="">Select Meeting</option>
          {%if data%} {%for mname in data%}
          <option value="{{mname[0]}}">{{mname[0]}}</option>
          {%endfor%} {% endif %}
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    {%if result and final_reading_time%}
    <div class="container text-center mt-4">
      <h4 class="d-inline"><u>Actual Text</u></h4>
      <p class="d-inline">(Reading Time: {{final_reading_time}})</p>
      <p>{{result[0][1]}}</p>
    </div>
    {%endif%}
    <hr />
    {%if sumtext and summary_reading_time%}
    <div class="container text-center mt-4">
      <h4 class="d-inline"><u>Summarized Text</u></h4>
      <p class="d-inline">(Reading Time: {{summary_reading_time}})</p>
      <p>{{sumtext}}</p>
    </div>
    {%endif%}
  </body>
</html>
